{% extends 'base.html.twig' %}

{% block title %}AdInvest - Entrar{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="mdc-text-field">
        <input type="text" class="mdc-text-field__input" value="{{ last_username }}"
               name="identityDocumentNumber" id="inputIdentityDocumentNumber" required autofocus
        >
        <label class="mdc-floating-label" for="inputIdentityDocumentNumber">CPF</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div class="mdc-text-field">
        <input type="password" class="mdc-text-field__input" name="password" id="inputPassword" required>
        <label class="mdc-floating-label" for="inputPassword">Senha</label>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
