.mdc-card {
  overflow: hidden;
}

.dashboard-card--dark {
  background-color: #00589f;

  .dashboard-card__heading-text {
    color: rgba(255, 255, 255, 0.8);
  }

  .dashboard-card--body {
    color: #ffffff;
  }
}

.dashboard-card--heading {
  padding: 16px 16px 3px;

  h2 {
    margin: 0;
  }
}

.dashboard-card--body {
  margin: 3px 16px 16px;
}

.dashboard-chart {
  height: 200px;
}