.mdc-drawer.mdc-drawer--open {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  border: none;
}

.mdc-drawer.mdc-drawer--open .mdc-drawer__header {
  display: grid;
  height: 171px;
  background-image: url('/static/img/account-switcher-background.png');
}

.mdc-drawer__header__content {
  margin: auto;
}

.mdc-drawer .mdc-drawer__title,
.mdc-drawer .mdc-drawer__subtitle {
  color: #fff;
}

.account-switcher {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  text-align: left;

  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded;
  @include mdc-states-base-color(white);
  @include mdc-states-hover-opacity(.2);
  @include mdc-states-focus-opacity(.25);
  @include mdc-states-press-opacity(.3);

  overflow: hidden;

  padding: 5px 10px;
  box-sizing: border-box;

  color: rgba(255, 255, 255, .7);
  border-bottom: 1px solid rgba(255, 255, 255, .7);

  position: relative;

  width: 150px;
  margin: 10px auto 0;
  line-height: 24px;
}

.account-switcher--icon {
  vertical-align: middle;
  position: absolute;
  right: 5px;
}