form {
  max-width: 900px;
  display: block;
}

.form-row {
  margin: 20px 0;
}

.form-error {
  margin: 10px 0;
  padding-left: 8px;
}

.mdc-text-field {
  width: 100%;
}

.mdc-text-field.field-type-number,
.mdc-select {
  width: 100%;

  @media (min-width: 600px) {
    width: auto;
    min-width: 300px;
  }
}

.mdc-select__native-control {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.mdc-select__native-control::-ms-expand {
  display: none;
}

th {
  text-align: left;
}

.mdc-switch {
  margin-right: 20px;
}