dt, dd {
  padding: 10px;
}

a {
  text-decoration: none;
}

.table {

  thead {
    font-size: 14px;
    color: #6a6a6a;

    th {
      border-top: none;
      border-bottom: 1px solid #dee2e6;
    }
  }
}