html, body {
  display: grid;
  height: 100%;
  background-color: #0575e6;
}

.login-container {
  width: 330px;
  margin: auto;
}

.header {
  text-align: center;
}

#logo {
  width: 250px;
}

.login-background {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #ffffff;
}

.form-row {
  margin: 15px auto;
}

.mdc-text-field {
  width: 300px;
}

.main-content {
  height: 100%;
}