<aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <div class="mdc-drawer__header">
        <div class="mdc-drawer__header__content">
            <h3 class="mdc-drawer__title">
                <img src="{{ asset('static/img/logo-adinvest.png') }}" alt="AdInvest">
            </h3>
        </div>
    </div>
    <div class="mdc-drawer__content">
        <div class="mdc-list">
            {#
            <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">dashboard</i>
                <span class="mdc-list-item__text">Dashboard</span>
            </a>
            #}
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">attach_money</i>
                <span class="mdc-list-item__text">Pagamentos</span>
            </a>
            <a class="mdc-list-item" href="{{ path('stakehold_plan__index') }}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment</i>
                <span class="mdc-list-item__text">Planos</span>
            </a>
            <a class="mdc-list-item" href="{{ path('person_list') }}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">people</i>
                <span class="mdc-list-item__text">Pessoas</span>
            </a>
            <a class="mdc-list-item" href="{{ path('company__index') }}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">store_mall_directory</i>
                <span class="mdc-list-item__text">Empresas</span>
            </a>
            {#
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">insert_drive_file</i>
                <span class="mdc-list-item__text">Contratos</span>
            </a>
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">notification_important</i>
                <span class="mdc-list-item__text">Solicitações</span>
            </a>
            #}
        </div>
    </div>
</aside>