{% extends 'base.html.twig' %}

{% set title = 'Dashboard' %}
{% set drawer_active_route = 'dashboard' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">

            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <div class="mdc-card dashboard-card dashboard-card--dark">
                    <div class="dashboard-card--heading">
                        <h2 class="mdc-typography--subtitle2">Valor Total de Patrocínio</h2>
                    </div>
                    <div class="dashboard-card--body">
                        <span class="mdc-typography--headline5">R$ {{ dashboardHelper.totalInvestment|number_format(2, ',', '.') }}</span>
                    </div>
                </div>
            </div>

            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <div class="mdc-card dashboard-card dashboard-card--dark">
                    <div class="dashboard-card--heading">
                        <h2 class="mdc-typography--subtitle2">Rendimentos Acumulados</h2>
                    </div>
                    <div class="dashboard-card--body">
                        <span class="mdc-typography--headline5">R$ {{ dashboardHelper.totalCoParticipation|number_format(2, ',', '.') }}</span>
                    </div>
                </div>
            </div>

            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <div class="mdc-card dashboard-card">
                    <div class="dashboard-card--heading">
                        <h2 class="mdc-typography--subtitle2">Retorno dos Patrocínios</h2>
                    </div>
                    <div class="dashboard-card--body">
                        <span class="mdc-typography--headline5">{{ dashboardHelper.returnRate|number_format(2, ',', '.') }}%</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
